var total = function(datalist){
  var sum = 0;
  datalist.forEach(function(item){
    if (item.checked) {
      // console.log(item.checked, item.id)
      sum += item.good.price * item.number
    }
  })
  return sum
}
var checked = function(datalist){
  //  判断datalist 每个checked 值 全是true 返回true 只要有一个false 返回false
  // datalist.every() es5  全是true 返回true 只要有一个false 返回false
  // datalist.some()只要有一个满足 返回true 所有不满足 返回false
  if (datalist.length === 0) {
    return false
  }
  var isChecked = datalist.every(function(item){
    return item.checked
  })
  return isChecked
}
// commonjs 导出
module.exports = {
  total: total,
  checked: checked
}